body {
    background: url(img/Gato.jpg) no-repeat center center fixed;
    background-size: cover;
}

main-section {
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

modal-content {
    background-color: white center;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 23px rgb(0, 0, 0, );
}

icon {
    margin-top: -50px;
    margin-bottom: 35px;
}